=fields_for "presentation" do |a|
  %p
    =a.label :title, "Title:" 
    =a.text_field :title
    %span#title_warning
  %p
    =a.label :template, "Template:" 
    =a.select(:template, TemplateManager.outer_templates, { :selected => @content.template ? @content.template : "default"})