%container-fluid
	%row-fluid
		%span8.offset2.pagination-centered
			%leaderboard
				%h1 Keine Folien vorhanden
				%p Es sind f&uuml;r 
					%a{:href => "http://heise.de"}Dieses Projekt
					noch keine Folien vorhanden, klicken sie hier um neue Foliens&auml;tze zu entwerfen
				%btn-group
					%a.btn.btn-primary.btn-large {:href  => "#"}
						%i.icon-user.icon-white Folie erstellen
					%a.btn.btn-primary.btn-large.dropdown-toggle{:data-toggle=> "dropdown", :href="#"}
						%span.caret
					%li
						%a{:href => "#"} 
							%i.icon-pencil
								Edit
					%li
						%a{:href => "#"}
							%i.icon-trash
					%li
						%a{:href => "#"}
							%i.icon-search
								L&ouml;schen
					%li
						%a{:href => "#"}
							%i.icon-search
								Folien&uuml;bersicht
					%li
						%a{:href => "#"}
							%i.icon-search
								Form &auml;ndern